<h2>Contact Us</h2>
 <%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
  <div id="errorExplanation">
    <span><%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:</span>
    <ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label 'Name' %><br />
    <%= f.text_field :from_name %>
  </div>

  <div class="field">
    <%= f.label 'Email' %><br />
    <%= f.text_field :from_email %>
  </div>
 
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <%= f.hidden_field :form_name %>
  <div class="actions">
    <%= f.submit 'SEND', :class => 'button' %>
  </div>
<% end %>